:root {
    /* Define your color palette using CSS variables */
    --primary-color: #233871;
    --secondary-color: #ce5a5a;
    --text-color: #333333;
  }
  
  body {
    background-color: var(--secondary-color);
    color: var(--text-color);
  }
  
  .ribbon {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 10px;
    text-align: center;
  }
  
  .ribbon a {
    color: var(--secondary-color);
    text-decoration: none;
  }
  